<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blocked Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/posts">Posts platform</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/posts">All Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add/post">Add a new post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blockedUsers">Blocked Users</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <br>

<div class="container">
    <h2> Blocked Users of {{ user.username }}</h2>
    <ul>
    {% for blockedUser in blocked %}
        <li> {{ blockedUser.username }}</li>
    {% endfor %}
    </ul>

<form method="post" enctype="multipart/form-data" class="w-50">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                {{ form.blockedUser}}
            </div>
            <button type="submit" class="btn btn-primary">Block User</button>
        </form>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>